<div class="row">
    <div class="col-12">
        <ul class="list-group">
            <li class="list-group-item" [ngClass]="{user: message.user === nickname}" *ngFor="let message of listMessages"><span><strong>{{ message.user}}</strong></span>: <span>{{ message.message }}</span></li>
        </ul>
        <div class="input-group mt-3">
            <input type="text" class="form-control" placeholder="Escribe tu mensaje..." aria-label="message" aria-describedby="basic-addon1" [(ngModel)]="message" >
            <span class="input-group-text" id="basic-addon1" (click)="onSendMessage()">Enviar</span>
        </div>
    </div>
</div>