<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <img src="http://4.bp.blogspot.com/-KbkXNp13fLE/VjBcdWkXFSI/AAAAAAAAAEk/k6n8HRv4cfg/s1600/pinturillo.gif" alt="" class="img-fluid">
            <input type="text" class="form-control" placeholder="Ingresa tu nombre de usuario" [(ngModel)]="nickname">
            <button class="btn btn-outline-warning btn-lg" routerLink="/group" (click)="onJoin()">Unirme al juego</button>
        </div>
    </div>
</div>