<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0">
            <nav class="navbar pt-4 pb-5">
                <div class="container-fluid">
                  <div class="navbar-brand">
                    <img src="http://4.bp.blogspot.com/-KbkXNp13fLE/VjBcdWkXFSI/AAAAAAAAAEk/k6n8HRv4cfg/s1600/pinturillo.gif" alt="">
                  </div>
                 <div>
                    <h4 class="welcome-text">Bienvenido: <strong>{{ nickname}}</strong></h4>
                 </div>
                </div>
            </nav>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12 mb-5">
            <app-list-users></app-list-users>
        </div>
        <div class="draw col-lg-7 col-md-8 col-sm-12 mb-5">
            <app-draw></app-draw>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 mb-5">
            <app-chat></app-chat>
        </div>
    </div>
</div>